# Ignore everything
*

# Allow these
!.gitignore
!LICENSE
!README.md
!go.mod
!go.sum
!*.go
!internal/
!internal/*/
!internal/*/*.go
!docs/
!docs/*.md
!docs/*.html
!docs/*.css
!docs/*.js
!docs/*.png
!docs/.nojekyll
!examples/
!examples/*/
!examples/*/*.go
!examples/internal/
!examples/internal/*/
!examples/internal/*/*.go
!Makefile
!.golangci.yml
!scripts/
!scripts/*.sh
!.github/
!.github/workflows/
!.github/workflows/ci.yml
