# Ignore everything
*

# Allow these
!.gitignore
!LICENSE
!README.md
!go.mod
!go.sum
!*.go
!docs/
!docs/*.md
!examples/
!examples/*/
!examples/*/*.go
!Makefile
!.golangci.yml
!scripts/
!scripts/*.sh
!.github/
!.github/workflows/
!.github/workflows/ci.yml
